<%= link_to product_path(product.id), class: 'product' do %>
  <div>
    <%= image_tag product.photo, width: 100 if product.photo.attached? %>
  </div>
  <h2><%= product.title %></h2>
  <span>$<%= product.price %></span>
<% end %>
